# ========================
# RABBITMQ
# ========================
RABBITMQ_EXPOSE_PORT=
RABBITMQ_UI_EXPOSE_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

# ========================
# REDIS
# ========================
REDIS_EXPOSE_PORT=
REDIS_USER_EXPOSE_PORT=
REDIS_PRODUCT_EXPOSE_PORT=
REDIS_ORDER_EXPOSE_PORT=

# ========================
# USER SERVICE
# ========================
USER_SERVICE_PORT=
USER_SERVICE_EXPOSE_PORT=
USER_MYSQL_PORT=
USER_DB_ROOT_PASSWORD=
USER_DB_USER=
USER_DB_PASSWORD=
USER_DB_NAME=

# ========================
# PRODUCT SERVICE
# ========================
PRODUCT_SERVICE_PORT=
PRODUCT_SERVICE__EXPOSE_PORT=
PRODUCT_MYSQL_PORT=
PRODUCT_DB_ROOT_PASSWORD=
PRODUCT_DB_USER=
PRODUCT_DB_PASSWORD=
PRODUCT_DB_NAME=

# ========================
# ORDER SERVICE
# ========================
ORDER_SERVICE_PORT=
ORDER_SERVICE_EXPOSE_PORT=
ORDER_MYSQL_PORT=
ORDER_DB_ROOT_PASSWORD=
ORDER_DB_USER=
ORDER_DB_PASSWORD=
ORDER_DB_NAME=